@font-face {
  font-family: "zen";
  src: url("/fonts/ZenKakuGothicNew-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #124e78;
  font-family: "zen";
}

@font-face {
  font-family: "zen";
  src: url("/fonts/ZenKakuGothicNew-Regular.ttf");
}

.hello {
  font-family: "zen";
  padding-left: 5rem;
  font-size: 3rem;
  color: white;
}
