* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #004aad;
}

.hello {
  font-family: "now-light";
  margin: 1rem;
  color: #0e4749;
  font-weight: bold;
}
