.incident-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2.4rem;
  gap: 1rem;
}

.title-incident {
  font-size: 1.8rem;
}

.container-form {
  width: 100%;
  text-align: center;
}
.form-infos-img {
}

.input-body {
  gap: 1rem;
  height: 22rem;
}

.input-container {
  width: 100%;
  height: 5rem;
}

.input-field {
  background-color: white;
  width: 100%;
  height: 70%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.input-field:hover {
  border: 3px solid #ffc42b;
}

.toggle-label {
  border: 2px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  font-size: 1.2rem;
}

.btn-tg-container {
  padding: 0.5rem;
}

.toggle-btn {
  margin-right: 1rem;
}
.toggle-btn toggled {
  margin-right: 1rem;
}
.toggle-container {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 10;
}

.toggle-btn {
  background-color: white;

  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition:
    background-color 0.1s ease,
    border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #124e78;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: relative;
  left: 3px;
  top: 50%;
  transform: trasnlateY(-50%);
}

.toggle-btn.toggled {
  background-color: #ffc42b;
}

.toggled-btn:hover {
  border-color: gray;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 25px);
  background-color: white;
}

.container-category {
  width: 100%;
  height: 5rem;
}

.option-field {
  background-color: white;
}
.container-image {
  margin: 0px;
  padding: 0p;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 18rem;
  justify-content: center;
}

.image-incident {
  width: 70%;
  margin-bottom: 1rem;
}

.image-incident:hover {
  width: 75%;
}
.description-incident {
  width: 100%;
  margin-bottom: 1rem;
}

.button-incident {
  width: 100%;
  height: 4rem;
  width: 50%;
  border-radius: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
}
.button-incident:hover {
  background-color: #ffc42b;
  border: 3px solid black;
}
@media screen and (min-width: 768px) {
  .incident-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    padding: 5rem 15rem;
  }

  .title-incident {
    font-size: 3rem;
  }

  .container-form {
    width: 100%;
    text-align: center;
  }

  .form-infos-img {
    display: flex;
  }

  .input-body {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .input-container {
    width: 100%;
    height: 4rem;
    margin: rem;
  }

  .input-field {
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
  }

  .toggle-container {
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .toggle-label {
    border: 2px solid white;
    padding: 0rem 1rem;
  }

  .container-image {
    justify-content: start;
    align-items: end;
  }

  .image-incident {
    width: 50%;
  }
  .image-incident:hover {
    width: 53%;
  }
  .description-incident {
    margin: 2.8rem 0rem;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.8rem;
  }

  .button-incident {
    width: 32%;
    height: 2.4remrem;
    border-radius: 0.5rem;
    background-color: white;
  }
  .button-incident:hover {
    background-color: #ffc42b;
  }
}
