.navbar-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1rem;
  justify-content: space-around;
  gap: 7rem;
}

.logo-citycare {
  width: 10rem;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    justify-content: left;
    gap: 100rem;
  }
  .logo-citycare {
  }
}
